.container {
  background-color :black;
  border-width: 5px;
  border-style: solid;
  width :600px;
  height :562px;
}

.container > div {
  height :28px;
}

.tile {
  background-color :black;
  width :28px;
  height :100%;
  margin :0;
  padding :0;
  border-width: 1px;
  border-color: #255C25;
  border-style: solid;
  display :inline-block;
}

.snake {
  background: green;
}

.mouse {
  background: #C2D6D6;
}